:root {
  --max-width: 500px;
  --color-bg: #e9ecef;
  --padding-inline: 1rem;
  --navbar-height: 8rem;

  /* z-index */
  --header-index: 100;
  --navbar-index: 100;
  --modal-index: 200;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-gray-border: #bbb;

  /* Colors - Brand */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-error: #ed455d;
  --color-main: #705a4d;

  /* Colors - Brand Hover */
  --color-primary-hover: #0056b3;
  --color-secondary-hover: #5a6268;
  --color-success-hover: #218838;
  --color-danger-hover: #c82333;
  --color-warning-hover: #d39e00;
  --color-info-hover: #138496;
  --color-error-hover: #c12c3d;
  --color-main-hover: #5b4c3f;

  /* Typography */
  --ff_kor: 'Pretendard'; /* 한글 폰트*/
  --ff_eng: 'Pretendard'; /* 영문, 숫자 폰트 */

  --font-xs: 1.2rem; /* 12px */
  --font-sm: 1.4rem; /* 14px */
  --font-base: 1.6rem; /* 16px */
  --font-lg: 1.8rem; /* 18px */
  --font-xl: 2rem; /* 20px */
  --font-2xl: 2.4rem; /* 24px */
  --font-3xl: 3rem; /* 30px */
  --font-4xl: 3.6rem; /* 36px */

  /* layout padding */
  --layout-padding: 1.6rem;

  /* Spacing */
  --spacing-1: 0.4rem; /* 4px */
  --spacing-2: 0.8rem; /* 8px */
  --spacing-3: 1.2rem; /* 12px */
  --spacing-4: 1.6rem; /* 16px */
  --spacing-5: 2.4rem; /* 24px */
  --spacing-6: 3.2rem; /* 32px */
  --spacing-8: 4.8rem; /* 48px */
  --spacing-10: 6.4rem; /* 64px */

  /* Border Radius */
  --radius-sm: 2px; /* 2px */
  --radius-base: 4px; /* 4px */
  --radius-md: 6px; /* 6px */
  --radius-lg: 8px; /* 8px */
  --radius-xl: 16px; /* 16px */
  --radius-full: 9999px;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
